html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    animation: fadeIn 1.1s linear;
    overflow: hidden;
}

#home{
    display: block;
}

#titleWrapper{
    display: block;
    position: sticky;
    top: 0;
    width:100%;
    background-color: rgb(37, 66, 146);
    padding: 5px;
    z-index: 2;
    left:0;
    color: white;
}

.button{
    font-size: medium;  
    background-color: transparent;
    border: none;
    display: inline-block;
    margin: auto;
    text-align: center;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
}

.button:hover{
    box-shadow: 0 12px 16px 0 rgb(0,0,0,0.24),0 17px 50px 0 rgb(0,0,0,0.19);
    color: black;
}

#title{
    text-align: center;
    margin-top: 30vh;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.column{
    float: left;
    position: relative;
    width: 33.3333333333333333333333333333333%;
}


.arrow-up{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.arrow-down{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.row{
    height: 30px;
/*     opacity: 0; will change once transistion() is done*/
    display: none;
}