html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    animation: fadeIn 1.1s linear;
    overflow: hidden;
}

#home{
    display: block;
}

#titleWrapper{
    display: block;
    position: sticky;
    top: 0;
    width:100%;
    background-color: rgb(37, 66, 146);
    padding: 5px;
    z-index: 2;
    left:0;
    color: white;
}

.button{
    font-size: medium;  
    background-color: transparent;
    border: none;
    display: inline-block;
    margin: auto;
    text-align: center;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
}

.button:hover{
    box-shadow: 0 12px 16px 0 rgb(0,0,0,0.24),0 17px 50px 0 rgb(0,0,0,0.19);
    color: black;
}

#title{
    text-align: center;
    margin-top: 30vh;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.dropdown-1{
    font-size: medium;  
    background-color: transparent;
    border: none;
    display: inline-block;
    position: relative;
    margin: auto;
    text-align: center;

    cursor: pointer;
}

.dropdown-2{
    font-size: medium;  
    background-color: transparent;
    border: none;
    display: inline-block;
    position: relative;
    margin: auto;
    text-align: center;

    cursor: pointer;
}

.dropdown-book1{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-book2{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-1:hover .dropdown-book1 {
    display:block;
}

.dropdown-2:hover .dropdown-book2 {
    display:block;
}

.dropdown-book1 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-book2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-book1 a:hover {
    box-shadow: 0 12px 16px 0 rgb(0,0,0,0.24),0 17px 50px 0 rgb(0,0,0,0.19);
}

.dropdown-book2 a:hover {
    box-shadow: 0 12px 16px 0 rgb(0,0,0,0.24),0 17px 50px 0 rgb(0,0,0,0.19);
}